@import "../../../scss/helpers";

:host {
  background-color: $white;
  color: theme-color("secondary");
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.search-bar {
  transition: $transition-base;
}

.list-search {
  overflow: auto;
}
