<div class="grid-padding search-bar">
  <div class="container-fluid pt-3 pb-3">
    <div class="row">
      <div class="col-12">

        <div class="d-flex justify-content-between">

          <div class="form-group border-left w-75">
            <input
              type="text"
              class="form-control"
              placeholder="Start searching here…"
              (input)="onSearchInputChange($event)">
          </div>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link dropdown-toggle text-secondary" id="search-type-dropdown" ngbDropdownToggle>
              {{ (search$ | async)?.type | titlecase }}s
              <i class="icon icon-caret-down ml-1 small"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="search-type-dropdown">
              <button class="dropdown-item" (click)="setSearchType('track')">Tracks</button>
              <button class="dropdown-item" (click)="setSearchType('artist')">Artists</button>
              <button class="dropdown-item" (click)="setSearchType('album')">Albums</button>
            </div>
          </div>

          <a
            [routerLink]="['/home']"
            (click)="close()"
            class="btn btn-link text-secondary">
            <i class="icon icon-close"></i>
          </a>

        </div>

      </div>
    </div>
  </div>
</div>


<div
  class="list-search"
  [ngClass]="{'grid-padding': (search$ | async)?.type !== 'track'}"
  snInfiniteScroll
  (onScrollEnd)="onScrollEnd()"
  [offset]="200"
  [disabled]="(allResultsLoaded | async) || (search$ | async)?.loading">

  <div  [ngClass]="{'container-fluid': (search$ | async)?.type !== 'track'}">

    <ul
      *ngIf="(search$ | async)?.results?.length"
      class="row list-unstyled"
      [ngSwitch]="(search$ | async)?.type"
      [ngClass]="{'no-gutters': (search$ | async)?.type === 'track'}">


      <li
        class="pb-3 "
        *ngFor="let item of (search$ | async)?.results"
        [ngSwitch]="(search$ | async)?.type"
        [ngClass]="{
          'col-6': (search$ | async)?.type === 'album',
          'col-12': (search$ | async)?.type !== 'album'
        }">

        <sfm-track
          *ngSwitchDefault
          [item]="item"
          (onButtonClick)="addToQueue($event)"
          [imageIndex]="1">
        </sfm-track>

        <a
          class="d-block text-secondary"
          [routerLink]="['/home', { outlets: { search: ['artists', item.id] } }]"
          *ngSwitchCase="'artist'">
          <sfm-artist [item]="item" [imageIndex]="1"></sfm-artist>
        </a>

        <a
          class="d-block text-secondary"
          [routerLink]="['/home', { outlets: { search: ['albums', item.id] } }]"
          *ngSwitchCase="'album'">
          <sfm-album [item]="item" [imageIndex]="1"></sfm-album>
        </a>

      </li>
    </ul>

    <ng-template [ngIf]="(search$ | async).loading">
      <p class="text-center pt-3 pb-3">Loading…</p>
    </ng-template>

    <ng-template [ngIf]="(search$ | async)?.results?.length === 0 && (search$ | async)?.query?.length >= 3 && !(search$ | async)?.loading">
      <p class="text-center">Sorry, we couldn't find any results for your search</p>
    </ng-template>
  </div>

</div>
