<div class="grid-padding">
  <div class="container-fluid pt-3 pb-3">
    <div class="row">
      <div class="col-12">

        <div class="d-flex justify-content-between">

          <div class="form-group border-left w-75">
            <input
              type="text"
              class="form-control"
              placeholder="Start searching here…"
              (input)="onSearchInputChange($event)">
          </div>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link dropdown-toggle text-secondary text-capitalize" id="search-type-dropdown" ngbDropdownToggle>
              {{ (search$ | async)?.type }}s
              <i class="icon icon-caret-down ml-1 small"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="search-type-dropdown">
              <button class="dropdown-item" (click)="setSearchType('track')">Tracks</button>
              <button class="dropdown-item" (click)="setSearchType('artist')">Artists</button>
              <button class="dropdown-item" (click)="setSearchType('album')">Albums</button>
            </div>
          </div>

          <button class="btn btn-link text-secondary" (click)="close()">
            <i class="icon icon-close"></i>
          </button>

        </div>


      </div>
    </div>
  </div>
</div>

<div [ngSwitch]="(search$ | async)?.type">

  <ng-template ngSwitchCase="track">
    <ul class="list-unstyled">
      <li
        class="pb-3 bg-white text-secondary"
        *ngFor="let item of (search$ | async)?.results">

        <div class="row no-gutters">
          <div class="col-12">

            <sfm-track [item]="item" (onButtonClick)="addToQueue($event)" [imageIndex]="1"></sfm-track>

          </div>
        </div>
      </li>
    </ul>
  </ng-template>

  <ng-template ngSwitchCase="artist">
    <div class="grid-padding">
      <div class="container-fluid">
        <ul class="row list-unstyled">
          <li
            class="pt-3 pb-3 bg-white text-secondary col-6"
            *ngFor="let item of (search$ | async)?.results">

            <sfm-artist [item]="item" [imageIndex]="1"></sfm-artist>

          </li>
        </ul>
      </div>
    </div>
  </ng-template>

  <ng-template ngSwitchCase="album">
    <div class="grid-padding">
      <div class="container-fluid">
        <ul class="row list-unstyled">
          <li
            class="pb-3 bg-white text-secondary col-6"
            *ngFor="let item of (search$ | async)?.results">

            <sfm-album [item]="item" [imageIndex]="1"></sfm-album>

          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</div>
