<div class="media align-items-center">
  <div class="media-img media-img-lg d-flex mr-3" style.backgroundImage="url({{ optimalImage }})">
    <img [src]="optimalImage" [alt]="item.name">
  </div>
  <div class="media-body align-items-center">
    <h3 class="h5 mt-0 mb-1 text-truncate">{{ item.name }}</h3>
    <p class="lead mb-0 text-light text-truncate">{{ artistsJoined }}</p>
    <p class="lead mb-2 text-light text-truncate">{{ item.album.name }}</p>
    <p class="mb-0">{{ item.duration_ms | date:'m:ss' }}  <!-- TODO: Add genre if possible <span class="seperator"></span> Rap--></p>
  </div>
  <div class="media-cta d-flex align-self-start align-items-start ml-3 flex-column">
    <button
      type="button"
      class="btn btn-primary text-secondary rotate-90"
      (click)="onClick()">
      <i class="icon icon-plus pr-2"></i>
      <span class="small font-weight-bold">Add to playlist</span>
    </button>
  </div>
</div>
