<div class="row no-gutters">
  <div class="col-6">
    <p class="font-weight-bold text-primary mb-0">Playing now</p>
  </div>
  <div class="col-6">
    <p class="font-weight-bold text-muted text-right mb-0 pr-3">{{ (meta$ | async)?.play_time | duration }} of playing time</p>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>


<div class="row no-gutters mb-2 pr-3" [ngClass]="{'invisible': !((current$ | async)?.track)}">
  <div class="col-12 current-track">
    <sfm-queue-item
      *ngIf="current$ | async"
      [item]="current$ | async"
      [displayImage]="false">
    </sfm-queue-item>
  </div>
</div>

<div class="row no-gutters mb-3" [ngClass]="{'invisible': !((current$ | async)?.track)}">
  <div class="col-6">
    <sfm-equalizer [playing]="!(current$ | async)?.paused"></sfm-equalizer>
  </div>
  <div class="col-6 text-right pr-3">
    <p class="mb-0">{{ (current$ | async)?.player?.elapsed_time | duration }} / {{ (current$ | async)?.track?.duration | duration }}</p>
  </div>
</div>

<div class="row no-gutters align-items-center pr-3">
  <div class="col-6">
    <ul class="list-inline mb-0">
      <li class="list-inline-item pr-2">
        <button
          type="button"
          class="btn btn-icon btn-circle btn-outline-lighter"
          [ngSwitch]="(current$ | async)?.paused"
          [disabled]="!(current$ | async)"
          (click)="togglePause()">
          <i class="icon icon-play text-white" *ngSwitchCase="true"></i>
          <i class="icon icon-pause text-white" *ngSwitchDefault></i>
        </button>
      </li>
      <li class="list-inline-item pr-2">
        <button
          type="button"
          class="btn btn-icon btn-circle btn-outline-lighter"
          [disabled]="!(current$ | async)"
          (click)="skip()">
          <i class="icon icon-skip text-white"></i>
        </button>
      </li>
      <li class="list-inline-item pr-2">
        <button
          type="button"
          class="btn btn-icon btn-circle btn-outline-lighter"
          [ngSwitch]="(mute$ | async)?.mute"
          (click)="toggleMute()">
          <i class="icon icon-volume-high text-white h5" *ngSwitchCase="false"></i>
          <i class="icon icon-volume-mute text-white h5" *ngSwitchCase="true"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="col-6 text-right">
    <div class="volume-slider">
      <div class="volume-slider-fill" style.width="{{ (volume$ | async)?.volume }}%"></div>
      <input
        class="volume-slider-input"
        type="range"
        min="0"
        max="100"
        step="1"
        [value]="(volume$ | async)?.volume"
        (input)="onVolumeInputChange($event)">
    </div>
  </div>
</div>
