<div class="img-clip img-hero" [ngStyle]="{'background-image': 'url(' + artistImage + ')'}">
  <img [src]="artistImage" [alt]="artist?.name">
</div>

<div class="grid-padding">
  <div class="container-fluid">

    <div class="row no-gutters mb-3 pt-3">

      <div class="col-6">
        <h2>{{ artist?.name }}</h2>
      </div>

      <!-- <div ngbDropdown class="d-inline-block">
        <button class="btn btn-link dropdown-toggle text-secondary text-capitalize" id="search-type-dropdown" ngbDropdownToggle>
          Top tracks
          <i class="icon icon-caret-down ml-1 small"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="search-type-dropdown">
          <button class="dropdown-item">Top tracks</button>
          <button class="dropdown-item">Albums</button>
          <button class="dropdown-item">Singles</button>
          <button class="dropdown-item">Related artists</button>
        </div>
      </div> -->

    </div>

  </div>
</div>

<div class="media-list row no-gutters pl-3">
  <ul class="list-unstyled w-100">
    <li
      class="pb-3 text-white"
      *ngFor="let item of topTracks.tracks">

      <div class="row no-gutters">
        <div class="col-12">

          <sfm-track [item]="item" [small]="true" [dark]="true" [hideArtist]="true" (onButtonClick)="addToQueue($event)" [imageIndex]="1"></sfm-track>

        </div>
      </div>
    </li>
  </ul>
</div>
