@import "../../../scss/helpers";

:host {
  background-color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 60vw;
}

.img-clip.img-hero {
  padding-bottom: 20%;
}

.media-list {
  flex-shrink: 3;
  overflow: auto;
}
