@import "../../../scss/helpers";

:host {
  background-color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 1;
  overflow: hidden;
  transition: $transition-base;
  width: 60vw;
}

.img-clip.img-hero {
  padding-bottom: 50vh;
  transition: padding-bottom 0.35s linear;

  :host(.scrolled-down) & {
    padding-bottom: 20vh;
  }
}

.media-list {
  flex-shrink: 3;
  overflow: auto;
}

.dropdown-item {
  @include hover-focus-active() {
    background-color: $grey-50a;
  }
}

:host ::ng-deep .nav-tabs {
  display: none;
}
