<div class="img-clip img-hero" [ngStyle]="{'background-image': 'url(' + albumImage + ')'}">
  <img [src]="albumImage" [alt]="album?.name">
</div>

<div class="grid-padding">
  <div class="container-fluid">

    <div class="row no-gutters mb-2 pt-3">
      <div class="col-12 d-flex align-items-center">
        <a
          class="text-white h1 mr-2 mb-0"
          [routerLink]="['/home', { outlets: { search: ['search'] } }]">
          <i class="icon icon-arrow-left"></i>
        </a>

        <h2 class="mb-0">{{ album?.name }} <small class="text-muted">{{ artistsJoined }}</small></h2>
      </div>
    </div>

  </div>
</div>

<div
  class="media-list row no-gutters pl-3"
  snInfiniteScroll
  (onScrollEnd)="getMoreTracks()"
  [offset]="200"
  [disabled]="allTracksLoaded || loading">
  <ul class="list-unstyled w-100">
    <li
      class="text-white"
      *ngFor="let item of tracks?.items">

      <div class="row no-gutters">
        <div class="col-12">
          <hr>
        </div>

        <div class="col-12">
          <sfm-track [item]="item" [small]="true" [dark]="true" [hideAlbum]="true" (onButtonClick)="addToQueue($event)" [imageIndex]="1"></sfm-track>
        </div>
      </div>
    </li>
  </ul>

  <ng-template [ngIf]="loading">
    <p class="w-100 text-center pt-3 pb-3 mb-0">Loading…</p>
  </ng-template>

</div>
