<div class="queue-heading d-none d-xl-flex">
  <div class="queue-heading-content">
    <p class="text-primary font-weight-bold rotate-90 text-nowrap queue-heading-text mb-0">
      Upcoming beats
    </p>
  </div>
</div>

<div
  snInfiniteScroll
  class="queue-items"
  (onScrollEnd)="onScrollEnd()"
  [offset]="200"
  [disabled]="allTracksLoaded || loading">
  <div class="grid-padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12" [@fadeMoveUp]="queue.length">

          <ul class="list-unstyled" *ngIf="queue.length">
            <li class="mb-3 list-item-track" *ngFor="let item of queue">
              <sfm-queue-item [item]="item" [imageIndex]="1"></sfm-queue-item>
            </li>
          </ul>

        </div>

        <div class="col-12">

          <ng-template [ngIf]="allTracksLoaded && queue.length">
            <p class="text-center">No more songs</p>
          </ng-template>

          <ng-template [ngIf]="loading">
            <p class="text-center">Loading…</p>
          </ng-template>

          <ng-template [ngIf]="!queue.length">
            <h2>Playlist is empty</h2>
            <p class="lead">Click <a [routerLink]="['/home', { outlets: {search: ['search']} }]">here</a> to add a song</p>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>
