@import "../../scss/helpers";

:host {
  display: flex;
  left: 0;
  height: 6.875rem; // ~110px
  min-height: 6.875rem; // ~110px
  position: fixed;
  right: 0;
  top: 0;
  transition: $transition-base;
  z-index: $zindex-nav;
}

.img-logo {
  width: 7rem; // ~112px
}

.nav-left {
  flex: 1 1 60%;
}

.nav-right {
  flex: 1 1 40%;
}

.list-link {
  display: inline-flex;
  justify-content: flex-end;
  overflow: hidden;
  transition: all .2s ease-out;
  width: 1.6875rem; // ~27px

  @include hover-focus-active() {
    width: 6.25rem; // ~100px
  }
}
