<div class="nav-left">
  <div class="grid-padding">
    <div class="container-fluid pt-3 pb-3">
      <div class="row">
        <div class="col">

          <img class="img-logo nav-item-animate" src="/assets/img/logo/logo-white.svg" alt="SOON FM_">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="nav-right">
  <div class="grid-padding">
    <div class="container-fluid pt-3 pb-3">
      <div class="row">
        <div class="col">

          <ul class="list-inline d-flex justify-content-end mb-0">
              <li class="list-inline-item pr-3 nav-item-animate mr-auto" [ngSwitch]="(user$ | async)?.authenticated">
                <a class="text-white h4 text-nowrap" *ngSwitchCase="true">
                  <i class="icon icon-profile mr-2"></i>
                  <span class="h6">{{ (user$ | async).user.given_name }}</span>
                </a>
                <a class="text-white h4 text-nowrap" *ngSwitchDefault (click)="login()">
                  <i class="icon icon-profile mr-2"></i>
                  <span class="h6">Sign in</span>
                </a>
              </li>
              <!-- <li class="list-inline-item pr-3 nav-item-animate">
                <a class="text-white h4 text-nowrap list-link">
                  <span class="h6 list-link-label mr-2">Stats</span>
                  <i class="icon icon-stats-dots"></i>
                </a>
              </li>
              <li class="list-inline-item pr-3 nav-item-animate">
                <a class="text-white h4 text-nowrap list-link">
                  <span class="h6 list-link-label mr-2">History</span>
                  <i class="icon icon-history"></i>
                </a>
              </li> -->
              <li class="list-inline-item nav-item-animate">
                <a class="text-white h4 text-nowrap list-link" [routerLink]="['/home', { outlets: { search: 'search' } }]">
                  <span class="h6 list-link-label mr-2">Search</span>
                  <i class="icon icon-search"></i>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

