<div class="d-flex flex-row align-items-center">
  <div
    class="img-clip rounded-circle align-items-center mr-3"
    [ngStyle]="{'background-image': 'url(' + optimalImage + ')'}">
    <img class="card-img-top" [src]="optimalImage" [alt]="item.name">
  </div>

  <div>
    <h3 class="h1">{{ item.name }}</h3>
    <p class="text-light">{{ item.followers?.total | number }} followers</p>
  </div>

  <div class="ml-auto">
    <!-- <button type="button" class="btn btn-primary btn-sm pl-2 pr-2 btn-rounded">Following</button> -->
  </div>
</div>
