<h2 class="h6 font-weight-bold text-primary mb-2">Most played tracks (this week)</h2>

<div class="leaderboard text-center">

  <ul class="list-inline row" [@fadeMoveUp]="stats?.most_played_tracks || 0" *ngIf="stats?.most_played_tracks?.length; else noStats">
    <li class="list-inline-item col" *ngFor="let item of stats?.most_played_tracks | slice: 0:3; let i = index">
      <div
        class="img-clip mb-1 ml-auto mr-auto"
        [ngStyle]="{'background-image': 'url(' + item.track.album.images[item.track.album.images.length - 1].url + ')'}">
        <img [src]="item.track.album.images[item.track.album.images.length - 1].url" [alt]="item.name">
      </div>
      <p class="mb-1 font-weight-bold mb-0">{{ item.track.name }}</p>
      <p class="small font-weight-bold mb-0">
        <span class="text-primary">{{ i === 0 ? '1st' : (i === 1) ? '2nd': (i === 2) ? '3rd': (i + 1) + 'th' }}</span>
        <span class="text-muted">({{ item.total }} Plays)</span>
      </p>
    </li>
  </ul>

  <ng-template #noStats>
    <p>Sorry there's no stats data</p>
  </ng-template>

  <!-- <a href="#" class="font-weight-bold pt-0 pb-0">View more</a> -->

</div>
