<div
  class="media align-items-center"
  [ngClass]="{
    'media-hover': displayImage,
    'media-cta-hover': (canDelete | async)
  }">

  <div
    *ngIf="displayImage"
    class="media-img d-flex mr-3"
    [ngStyle]="{'background-image': 'url(' + optimalImage + ')'}">
    <img
      *ngIf="optimalImage"
      [src]="optimalImage"
      [alt]="item?.track?.name">
  </div>

  <div class="media-body">
    <h3 class="h1 mt-0 mb-0 text-truncate">
      {{ item?.track?.name }}
    </h3>
    <p class="lead mb-0 font-weight-bold text-truncate">
      <ng-template ngFor [ngForOf]="item?.track?.artists" let-artist let-last="last">
        <a [routerLink]="['/home', { outlets: { search: ['artists', getArtistUri(artist)] } }]">
          {{ artist.name }}<span *ngIf="!last">, </span>
        </a>
      </ng-template>
    </p>
    <p class="lead mb-0 font-weight-bold text-muted text-truncate">
      <a [routerLink]="['/home', { outlets: { search: ['albums', albumUri] } }]">
        {{ item?.track?.album.name }}
      </a>
    </p>
  </div>

  <div class="media-user d-flex align-items-center ml-3 flex-column">
    <p class="small mb-1">Added by</p>
    <img
      class="rounded-circle img-avatar"
      *ngIf="item?.user?.avatar_url"
      [src]="item?.user?.avatar_url"
      [alt]="item?.user?.display_name"
      [ngbPopover]="item?.user?.display_name"
      triggers="mouseenter:mouseleave"
      placement="top">
  </div>

  <div
    *ngIf="canDelete | async"
    class="media-cta d-flex align-self-start align-items-start flex-column align-self-stretch">
    <button
      type="button"
      class="btn btn-link text-uppercase text-xsmall rotate-90 border-0"
      (click)="delete()">
      <i class="icon icon-delete mr-1"></i>
      <span class="font-weight-bold">Delete</span>
    </button>
  </div>

</div>
