@import "../scss/helpers";

.section-left,
.section-right {
  height: 100vh;
}

.section-left {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  &::before {
    background-image: linear-gradient(to bottom, rgba($black, .7), $black);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.img-logo {
  width: 7rem; // ~112px
}

.text-upcoming {
  margin-right: -1.25rem; // ~-20px
  transform: rotate(-90deg) translateX(-100%) translateY(74px);
}

.text-upcoming-container {
  border-right: .125rem solid $grey-20a; // ~2px
}

.section-left-fill {
  height: calc(100vh - 19.375rem); // ~100vh - 310px
}
