<div class="main" style.backgroundImage="url({{ (current$ | async)?.track?.album?.images[0].url }})">
  <div class="nav">
    <div class="grid-padding pt-3 pb-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <img class="img-logo" src="/assets/img/logo/logo-white.svg" alt="SOON FM_">
          </div>
        </div>
      </div>
    </div>
  </div>

  <sfm-queue></sfm-queue>
</div>

<aside class="aside" [ngSwitch]="view$ | async">

  <ng-template ngSwitchDefault>

    <div class="nav">
      <div class="grid-padding pt-3 pb-3">

        <div class="container-fluid">
          <div class="row">
            <div class="col-12">

                <ul class="list-inline text-right mb-0">
                  <li class="list-inline-item pr-3">
                    <a
                      class="text-white h4"
                      href="#"
                      role="button"
                      (click)="setView(view.STATS)">
                      <i class="icon icon-stats-dots"></i>
                    </a>
                  </li>
                  <li class="list-inline-item pr-3">
                    <a
                      class="text-white h4"
                      href="#"
                      role="button"
                      (click)="setView(view.HISTORY)">
                      <i class="icon icon-history"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      class="text-white h4"
                      href="#"
                      role="button"
                      (click)="setView(view.SEARCH)">
                      <i class="icon icon-search"></i>
                    </a>
                  </li>
                </ul>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="d-flex flex-column justify-content-end pt-2 stats-now-playing-container">

      <div class="row no-gutters pl-3">
        <div class="col-12 mb-4">
          <sfm-stats></sfm-stats>
        </div>
      </div>

      <div class="row no-gutters pl-3 pb-3">
        <div class="col-12">
          <sfm-now-playing></sfm-now-playing>
        </div>
      </div>

    </div>

  </ng-template>

  <sfm-search *ngSwitchCase="view.SEARCH"></sfm-search>
</aside>

