<div
  [ngClass]="{
    'right-view-open': (rightViewOpen$ | async),
    'center-view-stats': (view$ | async).centerView !== centerView.STATS
  }">

  <nav>
    <sfm-nav></sfm-nav>
  </nav>

  <main class="main">
    <section
      class="section-left"
      [ngStyle]="{'background-image': 'url(' + (currentImage$ | async) + ')'}"
      [ngClass]="{'section-hidex': (view$ | async).rightViewOpen$}">
      <sfm-queue></sfm-queue>
    </section>

    <section class="section-center" [ngSwitch]="(view$ | async).centerView">

      <ng-template ngSwitchDefault>
        <div class="d-flex flex-column justify-content-end stats-now-playing-container">

          <div class="row no-gutters pl-3">
            <div class="col-12 mb-4">
              <sfm-stats></sfm-stats>
            </div>
          </div>

          <div class="row no-gutters pl-3 pb-3">
            <div class="col-12">
              <sfm-now-playing></sfm-now-playing>
            </div>
          </div>

        </div>
      </ng-template>

      <sfm-search *ngSwitchCase="centerView.SEARCH"></sfm-search>
    </section>

    <section class="section-right">
      <router-outlet></router-outlet>
    </section>

  </main>

</div>
