@import "../scss/helpers";

:host {
  display: block;
}

.router-default,
.router-search {
  bottom: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  transition: $transition-base;
}

.router-default {
  @include darken-transition();
  left: 0;
  z-index: $zindex-router-default;
}

.router-search {
  background-color: $body-bg;
  display: flex;
  left: 100vw;
  z-index: $zindex-router-search;

  sfm-search {
    @include darken-transition();
    flex: 1 1 40vw;
    max-width: 40vw;
  }
}

:host(.is-router-search-active) {
  sfm-nav {
    right: 40vw;
  }

  .router-default {
    @include darken();
  }

  .router-search {
    left: 0;
  }
}

:host(.is-search-page) {
  .router-search {
    left: 60vw;
  }
}

:host(.is-router-search-active:not(.is-search-page)) {
  sfm-search {
    @include darken();
    overflow: hidden;
  }
}
