//
// Buttons
// --------------------------------------------------
// Override button styling that cannot be customised
// by modifying variables

.btn {
  @include hover() {
    cursor: pointer;
  }

  &[disabled] {
    @include hover() {
      cursor: not-allowed;
    }
  }
}

.btn-circle {
  @include button-size(0, 0, 0.875rem, 3.125rem, 50%); // ~ 0, 0, 14px, 50px, 50%
  @include size(3.125rem); // ~50px
  border-width: 2px;
  border-style: solid;
}

.btn-icon {
  position: relative;

  .icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
