//
// Equaliser
// --------------------------------------------------
//

.equaliser {
  display: flex;
  height: 1.875rem; // ~30px
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.equaliser-item {
  background: linear-gradient(to bottom,
    $green-glade,
    $yellow-lucky 22%,
    $yellow-sand 50%,
    $yellow-lucky 75%,
    $green-glade 100%);
  min-height: 5px;
  width: 1px;

  &.equaliser-item-end {
    background: linear-gradient(to bottom,
      $gray-900,
      $gray-600 22%,
      $gray-100 50%,
      $gray-600 75%,
      $gray-900 100%);
  }
}
