//
// Icons
// --------------------------------------------------
// Made using `https://icomoon.io/`.
//
// Steps to add icons:
// 1. go to `https://icomoon.io/` and upload the `src/assets/fonts/icomoon/selection.json` file to load
//    the current icons in the project.
// 2. Use the "set" context menu to upload svg files to the current set.
// 3. Generate the new font files and download the zip file extract and copy the font files into:
//    `src/assets/fonts/icomoon/` and override the existing files.
// 4. Copy the `selection.json` file in the zip file  to `src/assets/fonts/icomoon/` and replace the
//    existing file.
// 5. Update the variables in `src/assets/scss/_variables.scss` and add the new file icon codes
// 6. Update this file with the new icon classes.


@font-face {
  font-family: "icomoon";
  src: url("#{$icomoon-font-path}/icomoon.ttf?204la8") format("truetype"),
       url("#{$icomoon-font-path}/icomoon.woff?204la8") format("woff"),
       url("#{$icomoon-font-path}/icomoon.svg?204la8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus                        { &::before { content: $icon-plus; }}
.icon-close                       { &::before { content: $icon-close; }}
.icon-caret-down                  { &::before { content: $icon-caret-down; }}
.icon-play                        { &::before { content: $icon-play; }}
.icon-skip                        { &::before { content: $icon-skip; }}
.icon-pause                       { &::before { content: $icon-pause; }}
.icon-history                     { &::before { content: $icon-history; }}
.icon-stats-dots                  { &::before { content: $icon-stats-dots; }}
.icon-arrow-left                  { &::before { content: $icon-arrow-left; }}
.icon-profile                     { &::before { content: $icon-profile; }}
.icon-search                      { &::before { content: $icon-search; }}
.icon-volume-high                 { &::before { content: $icon-volume-high; }}
.icon-volume-medium               { &::before { content: $icon-volume-medium; }}
.icon-volume-low                  { &::before { content: $icon-volume-low; }}
.icon-volume-mute                 { &::before { content: $icon-volume-mute; }}

