//
// Media
// --------------------------------------------------
// Extends bootstrap media component

.media {
  &,
  .media-img,
  .media-body {
    overflow: hidden;
  }

  .img-avatar {
    @include size(3.125rem); // ~50px
  }

  .media-img {
    @include size(5.5rem); // ~88px
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.media-img-lg {
      @include size(9.375rem); // ~150px
    }

    img {
      display: none;
    }
  }

  .media-cta {
    width: 2.9375rem; // ~47px

    .btn {
      width: 5.5rem; // ~88px
    }

    &.media-cta-lg .btn {
      width: 9.375rem; // ~150px
    }
  }

  .seperator {
    @include size(0.125rem, 0.875rem); // ~(2px, 14px)
    background-color: $grey-30a;
    display: inline-block;
    margin-left: 1.25rem; // ~20px
    margin-right: 1.25rem; // ~20px
    margin-top: -0.25rem; // ~4px
    vertical-align: middle;
  }

  &.media-hover {
    .media-body,
    .media-img {
      transition: $transition-base;
    }

    .media-body {
      margin-left: -4rem; // ~64px
      transition-delay: .2s;
    }

    .media-img {
      transition-property: all;
      background-position-x: 8rem; // ~128px
    }

    @include hover-focus-active() {
      .media-img {
        opacity: 1;
        background-position-x: 0;
        transition-delay: .35s;
      }

      .media-body {
        margin-left: 0;
        transition-delay: 0s;
      }
    }
  }

  &.media-cta-hover {

    .media-cta {
      transition: $transition-base;
      width: 0;
    }

    @include hover-focus-active() {

      .media-cta {
        transition: $transition-base;
        margin-left: $spacer;
        width: 2.9375rem; // ~47px
      }
    }
  }
}
