//
// Mixins
// --------------------------------------------------
// Reusable blocks of code

@mixin track() {
  animate: 0.2s;
  cursor: pointer;
  height: $track-height;
  width: $track-width;
}

@mixin thumb() {
  background-color: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  position: relative;
  width: $thumb-width;
  z-index: 1;
}

@mixin darken-transition() {
  &::after {
    content: "";
    transition: $transition-base;
  }
}

@mixin darken() {
  &::after {
    background-color: rgba($black, .7);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
