//
// Reboot
// --------------------------------------------------
// Override browser default styles

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include hover {
    cursor: pointer;
  }
}
