//
// Reboot
// --------------------------------------------------
// Override browser default styles

html {
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
