//
// Type
// --------------------------------------------------
// Override type styles that cannot be overridden
// using just variables

.font-weight-normal {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal !important;
}

b,
strong,
.font-weight-bold {
  font-family: $font-family-sans-serif-bold;
  font-weight: $font-weight-normal !important;
}

//
// Horizontal rules
//
hr {
  margin-bottom: $hr-margin-bottom;
  margin-top: $hr-margin-top;
}

.text-xsmall {
  font-size: $xsmall-font-size;
}
